<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="conn" connectionString="Server=8d23f609-9a26-42f7-8869-a34e00cc7816.sqlserver.sequelizer.com;Database=db8d23f6099a2642f78869a34e00cc7816;User ID=khsmskbefeqkwran;Password=dSB6vhGC5f2qZh6f2EqgkVS4gVSLg8Tk4ShLE2HrRpHMFVtenGEuy4vpaGYGx4v5;"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
        <sessionState mode="InProc" timeout="600"></sessionState>
        <customErrors mode="Off"></customErrors>
	</system.web>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="Login.aspx"/>
            </files>
        </defaultDocument>
        
    </system.webServer>
</configuration>
